
.background{
    background-color: rgb(242, 247, 247);  
   
  
}
.headerbots{
    margin-top: 50px;
}

.bot:hover{
 transform: translate(0.4);

}


.bots{
    display: flex;
    flex-wrap: wrap;
    
}
.bots2 {
    margin-top: 100px;
justify-content: center;
   
    text-align: center;
    align-items: center;
}