
.background{
   background-color: rgb(232, 245, 243); 
   
  
}
.headerbots{
    margin-top: 50px;
}

.bot:hover{
 transform: translate(0.4);

}


.bots{
    display: flex;
    
}
.bots2 {
    margin-top: 600px;
justify-content: center;
   
    text-align: center;
    align-items: center;
}